UnitTests/XSD-Subsets/created_wegkantkast.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fdo.osgeo.org/schemas/feature/Schema1"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Default schema</xs:documentation>
    </xs:annotation>
    <xs:element name="OTL_Wegkantkast" type="Schema1:OTL_WegkantkastType" abstract="false"
                substitutionGroup="gml:_Feature">
        <xs:key name="OTL_WegkantkastKey">
            <xs:selector xpath=".//OTL_Wegkantkast"/>
            <xs:field xpath="FeatId"/>
        </xs:key>
    </xs:element>
    <xs:complexType name="OTL_WegkantkastType" abstract="false" fdo_geometryName="Geometry">
        <xs:annotation>
            <xs:documentation>Behuizing in de vorm van een kast typisch gebruikt buiten,langs de kant van de weg.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="FeatId" readOnly="true" autogenerated="true">
                        <xs:annotation>
                            <xs:documentation>Default identity property</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo_hasMeasure="false"
                                fdo_hasElevation="true" fdo_srsName="Default"
                                fdo_geometricTypes="point multipoint polygon multipolygon "
                                fdo_geometryTypes="point multipoint polygon multipolygon ">
                        <xs:annotation>
                            <xs:documentation>Default geometry property</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="afmeting_breedte" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De breedte in millimeter.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="afmeting_hoogte" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De hoogte in millimeter.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="afmeting_lengte" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De lengte in millimeter.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="assetId_identificator" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Een groep van tekens om een AIM object te identificeren of te benoemen.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="assetId_toegekendDoor" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Gegevens van de organisatie die de toekenning deed.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="bestekPostNummer[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Een verwijzing naar een postnummer uit het specifieke bestek waar het
                                object mee verband houdt.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="datumOprichtingObject" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De datum waarop het object op het terrein is beginnen bestaan, bv. de
                                datum van aanleg.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="elektrischSchema[]_bestandsnaam" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De naam van het Document inclusief de bestandsextensie, van de naam
                                gescheiden door een punt.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="elektrischSchema[]_mimeType" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Het MIME type van het document.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="elektrischSchema[]_omschrijving" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Een korte toelichting over waar het document juist voor dient.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="elektrischSchema[]_opmaakdatum" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De datum waarop het document is opgemaakt.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="elektrischSchema[]_uri" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De verwijzing naar de bestandslocatie via een link. Bij lokale bestanden
                                kan dit eventueel ook een pad zijn.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="heeftMaaibescherming" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Geeft aan of de kast voorzien is van bescherming tegen schade bij het
                                maaien van de omgeving rond de kast.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="isActief" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Geeft aan of het object actief kan gebruikt worden of (zacht) verwijderd
                                is uit het asset beheer systeem.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="kastmateriaal" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Materiaal waaruit de kast is opgebouwd.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="naam" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>De mensleesbare naam van een asset zoals dit bv. ook terug te vinden is op
                                een etiket op het object zelf. De assetbeheerder kent deze naam toe of geeft de opdracht
                                om deze toe te kennen. Indien een object een algemeen gangbare naam heeft zoals bv. bij
                                een waterloop dan wordt deze gebruikt.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="toestand" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Geeft de actuele stand in de levenscyclus van het object.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>