UnitTests/XSD-Subsets/xsd_export_testclass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fdo.osgeo.org/schemas/feature/Schema1"
           xmlns:fdo="http://fdo.osgeo.org/schemas" xmlns:gml="http://www.opengis.net/gml"
           xmlns:Schema1="http://fdo.osgeo.org/schemas/feature/Schema1" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Default schema</xs:documentation>
    </xs:annotation>
    <xs:element name="OTL_AllCasesTestClass" type="Schema1:OTL_AllCasesTestClassType" abstract="false"
                substitutionGroup="gml:_Feature">
        <xs:key name="OTL_AllCasesTestClassKey">
            <xs:selector xpath=".//OTL_AllCasesTestClass"/>
            <xs:field xpath="FeatId"/>
        </xs:key>
    </xs:element>
    <xs:complexType name="OTL_AllCasesTestClassType" abstract="false">
        <xs:annotation>
            <xs:documentation>Testclass containing all possible datatypes and combinations (export by OTL Wizard)
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
                        <xs:annotation>
                            <xs:documentation>Default identity property</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testBooleanField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor BooleanField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testBooleanField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor boolean in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testComplexType2_testKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde in een complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testComplexType2_testStringField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testComplexType2MetKard[]_testKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde in een complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testComplexType2MetKard[]_testStringField" minOccurs="0"
                                default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde in een complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testKwantWrdMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde met kardinaliteit &gt; 0 in een
                                complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testStringField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexType_testStringFieldMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst met kardinaliteit &gt; 0 in een complex
                                datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testBooleanField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor boolean in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testComplexType2_testKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde in een complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testComplexType2_testStringField" minOccurs="0"
                                default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testComplexType2MetKard[]_testKwantWrd" minOccurs="0"
                                default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde in een complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testComplexType2MetKard[]_testStringField" minOccurs="0"
                                default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde in een complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testKwantWrdMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor Kwantitatieve waarde met kardinaliteit &gt; 0 in een
                                complex datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testStringField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst in een complex datatype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testComplexTypeMetKard[]_testStringFieldMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor tekst met kardinaliteit &gt; 0 in een complex
                                datatype.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testDateField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor DateField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testDateTimeField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor DateTimeField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testDecimalField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor DecimalField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testDecimalFieldMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor DecimalField met kardinaliteit &gt; 1
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="19"/>
                                <xs:fractionDigits value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testEenvoudigType" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor een eenvoudige waarde</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testEenvoudigTypeMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor een eenvoudige waarde met kardinaliteit &gt; 1
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testIntegerField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor IntegerField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testIntegerFieldMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor IntegerField met kardinaliteit &gt; 1
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testKeuzelijst" minOccurs="0" default="-">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor een keuzelijst</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                                <xs:enumeration value="-"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testKeuzelijstMetKard[]" minOccurs="0" default="-">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor een keuzelijst met kardinaliteit &gt; 1
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                                <xs:enumeration value="-"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor een kwantitatieve waarde</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testKwantWrdMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor een kwantitatieve waarde met kardinaliteit &gt; 1
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testStringField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor StringField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testStringFieldMetKard[]" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor StringField met kardinaliteit &gt; 1
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testTimeField" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Test attribuut voor TimeField</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testUnionType_unionKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Kwantitatieve waarde van het test Union datatype</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testUnionType_unionString" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Vrij tekstveld van het test Union datatype</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testUnionTypeMetKard[]_unionKwantWrd" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Kwantitatieve waarde van het test Union datatype</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="testUnionTypeMetKard[]_unionString" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Vrij tekstveld van het test Union datatype</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OTL_AnotherTestClass" type="Schema1:OTL_AnotherTestClassType" abstract="false"
                substitutionGroup="gml:_Feature">
        <xs:key name="OTL_AnotherTestClassKey">
            <xs:selector xpath=".//OTL_AnotherTestClass"/>
            <xs:field xpath="FeatId"/>
        </xs:key>
    </xs:element>
    <xs:complexType name="OTL_AnotherTestClassType" abstract="false">
        <xs:annotation>
            <xs:documentation>Just another TestClass to test relations (export by OTL Wizard)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
                        <xs:annotation>
                            <xs:documentation>Default identity property</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="deprecatedString" minOccurs="0" default="">
                        <xs:annotation>
                            <xs:documentation>Tekstveld dat niet meer gebruikt wordt</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="9999"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="OTL_DeprecatedTestClass" type="Schema1:OTL_DeprecatedTestClassType" abstract="false"
                substitutionGroup="gml:_Feature">
        <xs:key name="OTL_DeprecatedTestClassKey">
            <xs:selector xpath=".//OTL_DeprecatedTestClass"/>
            <xs:field xpath="FeatId"/>
        </xs:key>
    </xs:element>
    <xs:complexType name="OTL_DeprecatedTestClassType" abstract="false">
        <xs:annotation>
            <xs:documentation>Deprecated TestClass (export by OTL Wizard)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
                        <xs:annotation>
                            <xs:documentation>Default identity property</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>