UnitTests/XSD-Subsets/xsd_export_vkb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fdo.osgeo.org/schemas/feature/Schema1" xmlns:fdo="http://fdo.osgeo.org/schemas" xmlns:gml="http://www.opengis.net/gml" xmlns:Schema1="http://fdo.osgeo.org/schemas/feature/Schema1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Default schema</xs:documentation>
  </xs:annotation>
  <xs:element name="OTL_Verkeersbordopstelling" type="Schema1:OTL_VerkeersbordopstellingType" abstract="false" substitutionGroup="gml:_Feature">
    <xs:key name="OTL_VerkeersbordopstellingKey">
      <xs:selector xpath=".//OTL_Verkeersbordopstelling" />
      <xs:field xpath="FeatId" />
    </xs:key>
  </xs:element>
  <xs:complexType name="OTL_VerkeersbordopstellingType" abstract="false" fdo:geometryName="Geometry">
    <xs:annotation>
      <xs:documentation>Het geheel van verticale verkeerssignalisatie die bevestigd is aan één of meerdere draagconstructies op éénzelfde geolocatie. (export by OTL Wizard)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
            <xs:annotation>
              <xs:documentation>Default identity property</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="true" fdo:srsName="Default" fdo:geometricTypes="point multipoint " fdo:geometryTypes="point multipoint ">
            <xs:annotation>
              <xs:documentation>Default geometry property</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="afbeelding[]_bestandsnaam" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De naam van het Document inclusief de bestandsextensie, van de naam gescheiden door een punt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afbeelding[]_mimeType" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Het MIME type van het document.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="application-acad" />
                <xs:enumeration value="application-acadmap" />
                <xs:enumeration value="application-json" />
                <xs:enumeration value="application-pdf" />
                <xs:enumeration value="application-rtf" />
                <xs:enumeration value="application-rvt" />
                <xs:enumeration value="application-vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <xs:enumeration value="application-vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <xs:enumeration value="application-xml" />
                <xs:enumeration value="application-x-x509-ca-cert" />
                <xs:enumeration value="application-zip" />
                <xs:enumeration value="image-dxf" />
                <xs:enumeration value="image-jpeg" />
                <xs:enumeration value="image-png" />
                <xs:enumeration value="image-svg" />
                <xs:enumeration value="image-tiff" />
                <xs:enumeration value="text-cfg" />
                <xs:enumeration value="text-csv" />
                <xs:enumeration value="text-html" />
                <xs:enumeration value="text-plain" />
                <xs:enumeration value="text-rtf" />
                <xs:enumeration value="text-xml" />
                <xs:enumeration value="video-avi" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afbeelding[]_omschrijving" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een korte toelichting over waar het document juist voor dient.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afbeelding[]_opmaakdatum" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De datum waarop het document is opgemaakt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afbeelding[]_uri" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De verwijzing naar de bestandslocatie via een link. Bij lokale bestanden kan dit eventueel ook een pad zijn.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="assetId_identificator" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een groep van tekens om een AIM object te identificeren of te benoemen.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="assetId_toegekendDoor" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Gegevens van de organisatie die de toekenning deed.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="bestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het specifieke bestek waar het object mee verband houdt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="datumOprichtingObject" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De datum waarop het object op het terrein is beginnen bestaan, bv. de datum van aanleg.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="isActief" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Geeft aan of het object actief kan gebruikt worden of (zacht) verwijderd is uit het asset beheer systeem.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="isBotsvriendelijk" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een botsvriendelijk obstakel is een voorwerp dat bij aanrijding door een voertuig de letselernst voor de inzittenden reduceert.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="notitie" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Extra notitie voor het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="operationeleStatus" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Operationele status van de Verkeersbordopstelling volgens keuzelijst.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="actief" />
                <xs:enumeration value="actief-met-geplande-verwijdering" />
                <xs:enumeration value="actief-met-geplande-wijziging" />
                <xs:enumeration value="actief-met-tijdelijke-wijziging" />
                <xs:enumeration value="tijdelijk-actief" />
                <xs:enumeration value="tijdelijk-inactief" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="positieTovRijweg" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>De plaatsing van de opstelling ten aanzien van de rijbaan.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="linkerrand" />
                <xs:enumeration value="midden" />
                <xs:enumeration value="rechterrand" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="standaardBestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het standaardbestek waar het object mee verband houdt. De notatie van het postnummer moet overeenkomen met de notatie di</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="theoretischeLevensduur" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De levensduur in aantal maanden die theoretisch mag verwacht worden voor een object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="toestand" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Geeft de actuele stand in de levenscyclus van het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="geannuleerd" />
                <xs:enumeration value="gepland" />
                <xs:enumeration value="in-gebruik" />
                <xs:enumeration value="in-ontwerp" />
                <xs:enumeration value="in-opbouw" />
                <xs:enumeration value="overgedragen" />
                <xs:enumeration value="uit-gebruik" />
                <xs:enumeration value="verwijderd" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="typeURI" minOccurs="0" default="https://wegenenverkeer.data.vlaanderen.be/ns/installatie#Verkeersbordopstelling">
            <xs:annotation>
              <xs:documentation>De URI van het object volgens https://www.w3.org/2001/XMLSchema#anyURI .</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="wegSegment[]_externePartij" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De naam van de externe partij waarvoor de referentie geldt. Dit kan een organisatie zijn maar ook een softwaretoepassing zoals bv. ABBA of VLCC.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="wegSegment[]_externReferentienummer" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Referentienummer zoals gekend bij de externe partij bv. aannemer, VLCC, ...</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OTL_Funderingsmassief" type="Schema1:OTL_FunderingsmassiefType" abstract="false" substitutionGroup="gml:_Feature">
    <xs:key name="OTL_FunderingsmassiefKey">
      <xs:selector xpath=".//OTL_Funderingsmassief" />
      <xs:field xpath="FeatId" />
    </xs:key>
  </xs:element>
  <xs:complexType name="OTL_FunderingsmassiefType" abstract="false" fdo:geometryName="Geometry">
    <xs:annotation>
      <xs:documentation>Een fundering waarop een klein(er) object geplaatst wordt of er (in principe) onlosmakelijk in vastgezet wordt (vb.: een paal/een steun, een kleine sokkel,...) Als het grotere constructie-elementen betreft (vb.: een pijler, een gebouw,...), moeten andere onderdelen van fundering gebruikt worden. (export by OTL Wizard)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
            <xs:annotation>
              <xs:documentation>Default identity property</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="true" fdo:srsName="Default" fdo:geometricTypes="polygon multipolygon " fdo:geometryTypes="polygon multipolygon ">
            <xs:annotation>
              <xs:documentation>Default geometry property</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="aanzetpeil" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De hoogte van het laagste punt van de onderkant van een element, ten opzichte van gemiddeld laagwaterpeil te Oostende (TAWpeil).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afmetingGrondvlak_rechthoekig_breedte" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De breedte in centimeter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afmetingGrondvlak_rechthoekig_lengte" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De lengte in centimeter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="afmetingGrondvlak_rond_diameter" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De diameter in centimeter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="assetId_identificator" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een groep van tekens om een AIM object te identificeren of te benoemen.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="assetId_toegekendDoor" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Gegevens van de organisatie die de toekenning deed.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="bestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het specifieke bestek waar het object mee verband houdt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="datumOprichtingObject" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De datum waarop het object op het terrein is beginnen bestaan, bv. de datum van aanleg.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="funderingshoogte" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De afstand tussen het laagste punt van de onderkant en hoogste punt van de bovenkant van de fundering.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="isActief" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Geeft aan of het object actief kan gebruikt worden of (zacht) verwijderd is uit het asset beheer systeem.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="isPermanent" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Bepaalt of de fundering (en het gefundeerd object) blijvend is.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="isPrefab" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Bepaalt of de fundering ter plaatse gestort is of als geprefabriceerd element aangevoerd.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="materiaal" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>De grondstof waaruit het funderingsmassief gemaakt is.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="aluminium" />
                <xs:enumeration value="beton" />
                <xs:enumeration value="glasvezelversterkt-polyester" />
                <xs:enumeration value="hdpe" />
                <xs:enumeration value="hout" />
                <xs:enumeration value="houtvezelbeton" />
                <xs:enumeration value="inox" />
                <xs:enumeration value="kunststof" />
                <xs:enumeration value="metselwerk" />
                <xs:enumeration value="polycarbonaat" />
                <xs:enumeration value="pvc" />
                <xs:enumeration value="roestvrijstaal" />
                <xs:enumeration value="rvs" />
                <xs:enumeration value="staal" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="naam" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De mensleesbare naam van een asset zoals dit bv. ook terug te vinden is op een etiket op het object zelf. De assetbeheerder kent deze naam toe of geeft de opdr</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="notitie" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Extra notitie voor het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="standaardBestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het standaardbestek waar het object mee verband houdt. De notatie van het postnummer moet overeenkomen met de notatie di</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="theoretischeLevensduur" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De levensduur in aantal maanden die theoretisch mag verwacht worden voor een object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="toestand" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Geeft de actuele stand in de levenscyclus van het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="geannuleerd" />
                <xs:enumeration value="gepland" />
                <xs:enumeration value="in-gebruik" />
                <xs:enumeration value="in-ontwerp" />
                <xs:enumeration value="in-opbouw" />
                <xs:enumeration value="overgedragen" />
                <xs:enumeration value="uit-gebruik" />
                <xs:enumeration value="verwijderd" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="typeURI" minOccurs="0" default="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel#Funderingsmassief">
            <xs:annotation>
              <xs:documentation>De URI van het object volgens https://www.w3.org/2001/XMLSchema#anyURI .</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="volume" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Het volume in kubieke meter van het funderingsmassief.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OTL_Pictogram" type="Schema1:OTL_PictogramType" abstract="false" substitutionGroup="gml:_Feature">
    <xs:key name="OTL_PictogramKey">
      <xs:selector xpath=".//OTL_Pictogram" />
      <xs:field xpath="FeatId" />
    </xs:key>
  </xs:element>
  <xs:complexType name="OTL_PictogramType" abstract="false" fdo:geometryName="Geometry">
    <xs:annotation>
      <xs:documentation>Een symbool dat of afbeelding die de plaats inneemt van een tekst. (export by OTL Wizard)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
            <xs:annotation>
              <xs:documentation>Default identity property</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="true" fdo:srsName="Default" fdo:geometricTypes="point multipoint " fdo:geometryTypes="point multipoint ">
            <xs:annotation>
              <xs:documentation>Default geometry property</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="assetId_identificator" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een groep van tekens om een AIM object te identificeren of te benoemen.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="assetId_toegekendDoor" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Gegevens van de organisatie die de toekenning deed.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="bestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het specifieke bestek waar het object mee verband houdt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="datumOprichtingObject" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De datum waarop het object op het terrein is beginnen bestaan, bv. de datum van aanleg.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="isActief" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Geeft aan of het object actief kan gebruikt worden of (zacht) verwijderd is uit het asset beheer systeem.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="nalichtingstijd" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De tijd dat het opgeslagen licht (bij bv. fosforen) in een andere lichtfrequentie (met minder energie) weer wordt uitgezonden.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="notitie" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Extra notitie voor het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="opschrift" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Eventueel begeleidende tekst bij het symbool.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="standaardBestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het standaardbestek waar het object mee verband houdt. De notatie van het postnummer moet overeenkomen met de notatie di</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="symbool" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Het symbool op het pictogram.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="halte" />
                <xs:enumeration value="hydrant-bovengronds-(H)" />
                <xs:enumeration value="hydrant-ondergronds-(B)" />
                <xs:enumeration value="nooddeurnummer" />
                <xs:enumeration value="nummer-veiligheidsnis" />
                <xs:enumeration value="tunnelnaam" />
                <xs:enumeration value="verbodsbord" />
                <xs:enumeration value="vluchtend-persoon" />
                <xs:enumeration value="vluchtroute" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="theoretischeLevensduur" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De levensduur in aantal maanden die theoretisch mag verwacht worden voor een object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="toestand" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Geeft de actuele stand in de levenscyclus van het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="geannuleerd" />
                <xs:enumeration value="gepland" />
                <xs:enumeration value="in-gebruik" />
                <xs:enumeration value="in-ontwerp" />
                <xs:enumeration value="in-opbouw" />
                <xs:enumeration value="overgedragen" />
                <xs:enumeration value="uit-gebruik" />
                <xs:enumeration value="verwijderd" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="typeURI" minOccurs="0" default="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel#Pictogram">
            <xs:annotation>
              <xs:documentation>De URI van het object volgens https://www.w3.org/2001/XMLSchema#anyURI .</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OTL_Verkeersbordsteun" type="Schema1:OTL_VerkeersbordsteunType" abstract="false" substitutionGroup="gml:_Feature">
    <xs:key name="OTL_VerkeersbordsteunKey">
      <xs:selector xpath=".//OTL_Verkeersbordsteun" />
      <xs:field xpath="FeatId" />
    </xs:key>
  </xs:element>
  <xs:complexType name="OTL_VerkeersbordsteunType" abstract="false" fdo:geometryName="Geometry">
    <xs:annotation>
      <xs:documentation>Een draagconstructie voor verkeersborden. Dit kan een ronde paal of een vakwerksteun zijn. (export by OTL Wizard)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element name="FeatId" fdo:readOnly="true" fdo:autogenerated="true">
            <xs:annotation>
              <xs:documentation>Default identity property</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:int" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="Geometry" type="gml:AbstractGeometryType" fdo:hasMeasure="false" fdo:hasElevation="true" fdo:srsName="Default" fdo:geometricTypes="point multipoint " fdo:geometryTypes="point multipoint ">
            <xs:annotation>
              <xs:documentation>Default geometry property</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="assetId_identificator" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een groep van tekens om een AIM object te identificeren of te benoemen.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="assetId_toegekendDoor" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Gegevens van de organisatie die de toekenning deed.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="bestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het specifieke bestek waar het object mee verband houdt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="breedte" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De breedte van een verkeersbordsteun in millimeter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="datumOprichtingObject" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De datum waarop het object op het terrein is beginnen bestaan, bv. de datum van aanleg.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="diameter" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De diameter van de verkeersbordpaal in millimeter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="fabricagevoorschrift" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Genormaliseerde referentie waaraan het infrastructuur element aan voldoet.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="isActief" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Geeft aan of het object actief kan gebruikt worden of (zacht) verwijderd is uit het asset beheer systeem.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:boolean" />
            </xs:simpleType>
          </xs:element>
          <xs:element name="lengte" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De lengte van de verkeersbordpaal in meter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="lengteBovengronds" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De bovengrondse lengte van de verkeersbordpaal in meter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="lengteOndergronds" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De ondergrondse lengte van de verkeersbordpaal in meter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="naam" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De mensleesbare naam van een asset zoals dit bv. ook terug te vinden is op een etiket op het object zelf. De assetbeheerder kent deze naam toe of geeft de opdr</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="notitie" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Extra notitie voor het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="standaardBestekPostNummer[]" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>Een verwijzing naar een postnummer uit het standaardbestek waar het object mee verband houdt. De notatie van het postnummer moet overeenkomen met de notatie di</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="theoretischeLevensduur" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De levensduur in aantal maanden die theoretisch mag verwacht worden voor een object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="toestand" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Geeft de actuele stand in de levenscyclus van het object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="geannuleerd" />
                <xs:enumeration value="gepland" />
                <xs:enumeration value="in-gebruik" />
                <xs:enumeration value="in-ontwerp" />
                <xs:enumeration value="in-opbouw" />
                <xs:enumeration value="overgedragen" />
                <xs:enumeration value="uit-gebruik" />
                <xs:enumeration value="verwijderd" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="type" minOccurs="0" default="-">
            <xs:annotation>
              <xs:documentation>Het type verkeersbordpaal.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50" />
                <xs:enumeration value="-" />
                <xs:enumeration value="botsvriendelijke-steun" />
                <xs:enumeration value="botsvriendelijke-steun-type-100NE2" />
                <xs:enumeration value="botsvriendelijke-steun-type-100NE3" />
                <xs:enumeration value="rechte-paal" />
                <xs:enumeration value="vakwerksteun" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="typeURI" minOccurs="0" default="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel#Verkeersbordsteun">
            <xs:annotation>
              <xs:documentation>De URI van het object volgens https://www.w3.org/2001/XMLSchema#anyURI .</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="9999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="wanddikte" minOccurs="0" default="">
            <xs:annotation>
              <xs:documentation>De dikte van de wand in millimeter.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:totalDigits value="19" />
                <xs:fractionDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>